@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  content: "Sending...";
}
@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

.loaderv3 {
  opacity: 0.81;
  width: calc(100px / cos(45deg));
  height: 14px;
  background: repeating-linear-gradient(-45deg, #000 0 15px, #0000 0 20px)
    left/200% 100%;
  animation: l3 2s infinite linear;
}

.loaderv2 {
  opacity: 0.81;
  width: calc(150px / cos(45deg));
  height: 14px;
  background: repeating-linear-gradient(-45deg, #000 0 15px, #0000 0 20px)
    left/200% 100%;
  animation: l3 2s infinite linear;
}
@keyframes l3 {
  100% {
    background-position: right;
  }
}
