/* Custom Swiper pagination color */
.swiper-pagination-bullet {
  background-color: rgb(
    75,
    75,
    75
  ) !important; /* Make pagination bullets red */
}

.swiper-pagination-bullet-active {
  background-color: white !important; /* Active pagination bullet color */
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  width: 40px !important;
  height: 40px !important;
  /* background-color: rgba(19, 19, 19, 0.387);
  border-radius: 100%; */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px !important;
}
